@import url("https://use.typekit.net/onc6ttx.css");
.sr-only:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

/*
    @include respond-to('medium') {
        //
    }
    @include respond-to('large') {
        //
    }
*/
@keyframes fill {
  0% {
    clip-path: inset(100% 0 0 0);
  }
  100% {
    clip-path: inset(0 0 0 0);
  }
}
.logo {
  height: 32px;
}
.logo:hover,
.logo:focus {
  opacity: 0.5;
}
.logo:active {
  transform: scale(0.9);
}

nav .logo {
  margin: 0 0.8rem;
}

.btn-gold {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  align-self: auto;
  align-content: flex-start;
  gap: 0;
  height: 2.5rem;
  width: 10rem;
  background-color: transparent;
  color: #beae6f;
  font-size: 9pt;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  font-weight: 500;
  font-style: normal;
  text-decoration: none;
  border: none;
}
.btn-gold span {
  height: 2.5rem;
  width: 10rem;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  align-self: auto;
  align-content: flex-start;
  gap: 0;
  position: absolute;
  border: solid 2px #beae6f;
}
.btn-gold:hover span,
.btn-gold:focus span {
  background-color: transparent;
  color: #242424;
}
.btn-gold:hover .background,
.btn-gold:focus .background {
  background-color: #beae6f;
  animation: fill 0.2s linear 1;
}

.btn-blue {
  padding: 0.5rem 1rem;
  background-color: transparent;
  border: solid 3px #0b1c25;
  color: #0b1c25;
  font-size: 12pt;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  font-weight: 500;
  font-style: normal;
  text-decoration: none;
}

.establishments-wrapper {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  align-self: center;
  align-content: center;
  gap: 5vmax;
  width: 100%;
  max-width: 1280px;
}

.establishment {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: stretch;
  align-self: auto;
  align-content: flex-start;
  gap: 6rem;
  width: 100%;
}
.establishment .col-1 {
  flex: 1.5;
  position: relative;
  width: 38rem;
  height: 23rem;
  overflow: hidden;
  z-index: 0;
}
.establishment .col-2 {
  flex: 1;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  align-self: auto;
  align-content: flex-start;
  gap: 1rem;
  padding: 2rem 0rem 0rem 5rem;
}
.establishment img {
  left: 50%;
  position: relative;
  top: 50%;
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  max-width: 100%;
}
.establishment .id {
  position: absolute;
  font-size: 10vmax;
  font-weight: 700;
  opacity: 0.1;
  z-index: -9;
  margin-top: -4.5rem;
  margin-left: -7rem;
}
.establishment:nth-last-of-type(even) {
  transform: scaleX(-1);
}
.establishment:nth-last-of-type(even) .col-2 {
  transform: scaleX(-1);
}

.location {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: stretch;
  align-self: auto;
  align-content: flex-start;
  gap: 3em;
}
.location .txt {
  color: #beae6f;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.25em;
  font-size: 0.75em;
}
.location .line {
  border-bottom: solid 1px #beae6f;
  width: 7rem;
  height: 1rem;
  position: relative;
  top: -0.4em;
}

.establishment-name {
  font-family: ivymode, sans-serif;
  font-size: clamp(1.8em, 3vw, 3rem);
  font-weight: 500;
  line-height: 1.1em;
  text-transform: capitalize;
}

.establishment-description {
  margin-bottom: 2rem;
}

.establishments-hero-txt {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  align-self: auto;
  align-content: center;
  gap: 1rem;
  position: absolute;
  top: 50vh;
  left: 50vw;
  margin-top: -7rem;
  margin-left: -19rem;
  background-color: rgba(11, 28, 37, 0.8);
  height: 15rem;
  width: 40rem;
  border: solid 2pt #beae6f;
}
.establishments-hero {
  max-height: 85vh;
}

@media screen and (max-width: 1024px) {
  .nav {
    top: 5rem !important;
  }
}
@media screen and (max-width: 500px) {
  .holder {
    width: 300px !important;
    height: 550px !important;
  }
}
@media screen and (max-width: 800px) {
  .establishments-hero-txt {
    top: 20vh;
  }

  .establishments-hero {
    max-height: 50vh;
  }
  .establishment-page {
    max-width: 90vw;
  }
  .detail p,
  .detail h1,
  location .line,
  .btn-spl,
  .txt {
    left: -10vw;
    position: relative;
  }
  .confirm-body {
    max-width: 80vw;
  }

  .button {
    min-width: 20% !important;
  }
  .search-icon {
    display: none;
  }
}

.establishments-detail {
  max-width: 1280px;
}
.establishments-detail h1 {
  text-align: center;
}
.timerBox {
  min-height: 38px;
  border-radius: 0.3rem;
  min-width: 10rem;
}
.hero-tile-container {
  /* */
  position: absolute;
  top: 25vh;
  margin-top: -9rem;
  max-width: 1280px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  align-self: auto;
  align-content: center;
  gap: 2rem 6rem;
}
.cab-box__text {
  font-size: 1.2rem;
}
.hero-tile-container .tile {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  align-self: auto;
  align-content: center;
  gap: 2rem;
  height: 5rem;
  width: 15rem;
  /* height: 10rem;
  width: 22rem; */
  padding: 2rem 4rem;
  border: solid 2pt #beae6f;
  font-size: 1.2em;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-weight: 600;
  cursor: pointer !important;
}
.hero-tile-container .tile:hover .icon-fill,
.hero-tile-container .tile:focus-within .icon-fill,
.hero-tile-container .tile:active .icon-fill {
  color: #beae6f;
  animation: fill 0.2s linear 1;
}
.hero-tile-container .tile:hover p::after,
.hero-tile-container .tile:focus-within p::after,
.hero-tile-container .tile:active p::after {
  transform: scale(1, 1);
}
.hero-tile-container .tile p {
  position: relative;
}
.hero-tile-container .tile p::after {
  position: absolute;
  left: 0;
  content: "";
  width: 100%;
  height: 2px;
  bottom: -4px;
  transform: scale(0, 1);
  transition: transform 0.2s;
  background: #beae6f;
}
.hero-tile-container .icon {
  font-size: 2em;
  position: absolute;
}
.hero-tile-container .icon-container {
  height: 2em;
  width: 2em;
}

.icon-outline {
  color: transparent;
  -webkit-text-stroke: 2px #beae6f;
}

.icon-fill {
  color: transparent;
}
.headerSearchInput {
  border: 0;
  outline: 0;
  text-align: center;
}
.search-filter-wrapper {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: stretch;
  align-self: auto;
  align-content: flex-start;
  gap: 0;
  width: 100%;
  max-width: 1280px;
  border-bottom: solid 1px #707070;
  margin-top: -10rem;
}
.search-filter div {
  z-index: 99999;
}

.btn-spl {
  margin-bottom: 0.3rem;
  margin-top: 0.3rem;
  border: solid 2px #beae6f;
}

.background-spl:hover {
  animation: none;
}
.search-filter-wrapper .btn-wrapper {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  align-self: auto;
  align-content: flex-start;
  gap: 0;
}
@media screen and (max-width: 800px) {
  .search-filter-wrapper {
    flex-flow: column nowrap;
  }
  .searchFilterBar {
    flex-flow: column nowrap;
  }
  .search-filter {
    flex-flow: column nowrap;
  }
}

.search-filter {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: stretch;
  align-self: auto;
  align-content: flex-start;
  gap: 0;
}

.search-filter-item {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  align-self: auto;
  align-content: flex-start;
  gap: 1rem;
  border-right: solid 1px #707070;
  padding: 0rem 4rem;
  margin: 1.5rem 0;
}
.search-filter-item:first-of-type {
  padding: 0rem 4rem 0rem 1.5rem;
}

.search-filter-item-name {
  text-transform: capitalize;
}

.searchFilterBar {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: stretch;
  align-self: auto;
  align-content: flex-start;
  gap: 0;
  width: 100%;
  max-width: 1280px;
  padding: 1rem 3rem;
  margin: 2rem 0 5rem;
  z-index: 9;
  margin-top: 10rem;
  /* tried */
}
.search-filter-bar {
  /* tried */
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: stretch;
  align-self: auto;
  align-content: flex-start;
  gap: 0;
  width: 100%;
  max-width: 1280px;
  padding: 1rem 3rem;
  margin: 2rem 0 5rem;
  z-index: 9;
}
.search-filter-bar input {
  width: 100%;
  height: 3em;
  padding: 10px;
  background-color: inherit;
  border: none;
  border-bottom: solid 2pt #beae6f;
}
.search-filter-bar input:focus,
.search-filter-bar input:focus-visible {
  border-bottom: solid 2px transparent;
}
.search-filter-bar button {
  position: relative;
  left: -2rem;
  background-color: inherit;
  border: none;
  color: #beae6f;
  font-size: 1.25em;
}

.search-icon {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  align-self: auto;
  align-content: center;
  gap: 1.25rem;
}
.search-icon .circle {
  position: relative;
  border: 2.5px solid #beae6f;
  height: 1rem;
  width: 1rem;
  border-radius: 50%;
}
.search-icon .line {
  position: relative;
  width: 2.5px;
  height: 0.75rem;
  background-color: #beae6f;
  transform: rotate(-55deg);
  transition: 0.1s;
  margin-bottom: -1em;
  margin-left: -1.15rem;
}
.search-icon .arrow {
  visibility: hidden;
  position: relative;
  margin-left: -2rem;
  margin-top: 0.31rem;
  border-bottom: 2.5px solid #beae6f;
  border-right: 2.5px solid #beae6f;
  height: 1rem;
  width: 1rem;
  transition: 0.1s;
  opacity: 0;
}
.search-icon:hover,
.search-icon:focus-within {
  transform: scale(0.7);
  margin-right: -0.5rem;
}
.search-icon:hover .circle,
.search-icon:focus-within .circle {
  height: 3rem;
  width: 3rem;
  right: -2.5rem;
}
.search-icon:hover .line,
.search-icon:focus-within .line {
  top: -0.5rem;
  height: 1.25rem;
  transform: rotate(0);
  right: -0.8rem;
}
.search-icon:hover .arrow,
.search-icon:focus-within .arrow {
  visibility: visible;
  opacity: 1;
  display: block;
  margin-left: -16.25px;
  margin-top: 0.31rem;
  transform: rotate(45deg);
}
.search-icon:active .circle {
  background-color: #beae6f;
}
.search-icon:active .line {
  background-color: #0b1c25;
}
.search-icon:active .arrow {
  border-bottom: 2.5px solid #0b1c25;
  border-right: 2.5px solid #0b1c25;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
*:focus-visible {
  outline: solid 2px #beae6f;
  outline-offset: 2px;
  transition: outline 0.2s;
}

html,
body {
  scroll-behavior: smooth;
  overflow-y: auto;
}

::-webkit-scrollbar-thumb {
  background: #bdbdbd;
}
::-webkit-scrollbar-thumb:hover {
  background: #bdbdbd86;
}

::-webkit-scrollbar {
  width: 10px;
  background: #ffffff;
}

body {
  /*background-color: #0b1c25;*/
  background-color: #5066be;
}

main {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  align-self: auto;
  align-content: flex-start;
  gap: 1rem;
  position: relative;
  height: 100%;
  min-height: 50vh;
}

body,
input {
  font-family: montserrat, sans-serif;
  color: #ffffff;
}

h1,
.h1 {
  font-family: ivymode, sans-serif;
  font-size: clamp(1.8em, 4vw, 4rem);
  font-weight: 500;
  line-height: 1.1em;
  text-transform: capitalize;
}

h5 {
  font-family: montserrat, sans-serif;
  font-size: clamp(1.15em, 3vw, 2.5rem);
  font-weight: 500;
  text-transform: capitalize;
}

.establishment-page {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  align-self: auto;
  align-content: flex-start;
  gap: 1rem;
}

.establishment-banner {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: stretch;
  align-self: auto;
  align-content: flex-start;
  gap: 0;
  width: 100%;
  max-width: 1280px;
  border-bottom: solid 1px #707070;
  margin: -10rem 0 5rem 0;
}
.establishment-banner i {
  font-size: 1.25em;
  color: #beae6f;
  height: 20pt;
}
.establishment-banner .icon-wrapper,
.establishment-banner .price {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  align-self: center;
  align-content: center;
  gap: 1rem;
  flex: 1;
  width: 100%;
}
.establishment-banner .icon-wrapper {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center center;
  align-items: center;
  align-self: center;
  align-content: 0;
  gap: 1rem;
  border-right: solid 1px #707070;
  margin: 2.5rem 0;
}

.establishments-detail {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: stretch;
  align-self: auto;
  align-content: flex-start;
  gap: 0;
  margin: 10vh 0;
}
.establishments-detail .background {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  align-self: flex-start;
  align-content: flex-start;
  gap: 0;
  flex: 1;
  font-size: 30rem;
  font-weight: 600;
  opacity: 0.1;
  margin-top: -5rem;
}
.establishments-detail .detail {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  align-self: flex-start;
  align-content: flex-start;
  gap: 2rem;
  flex: 1.4;
}
.establishments-detail h1 {
  font-size: clamp(1.8em, 5vw, 5rem);
}

.login-page {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  align-self: auto;
  align-content: flex-start;
  gap: 0;
  min-height: 100vh;
}

.form-side {
  position: absolute;
  background-color: #0b1c25;
  box-shadow: 9px 2px 16px rgba(5, 21, 34, 0.4),
    -4px -2px 16px rgba(18, 58, 92, 0.4);
  height: 60vmin;
  width: 80vmax;
}

.form-wrapper {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  align-self: auto;
  align-content: flex-start;
  gap: 0;
  position: absolute;
  margin-right: -35vw;
  background-color: #ffffff;
  height: 80vmin;
  width: 40vmax;
  color: #242424;
  padding: 10vmin;
}

.footer {
  margin-top: 2rem;
  /*background: #0b1c25;*/
  background: #5066be;
  color: #ffffff;
  width: 100%;
  max-width: 100vw;
  height: 100%;
  display: flex;
  flex-flow: row nowrap;
  padding: 3rem;
}
@media screen and (max-width: 800px) {
  .footer {
    padding: 2rem;
  }
}
.footer h6 {
  text-transform: uppercase;
  margin-bottom: 0.5em;
  font-size: 1.1em;
  letter-spacing: 0.1em;
  color: #beae6f;
}
.footer a,
.footer p {
  color: #ffffff;
  font-family: roboto, sans-serif;
  line-height: 1.75em;
  font-size: 1em;
  text-decoration: none;
}
.footer p + p {
  font-size: 0.7em;
}
@media screen and (max-width: 800px) {
  .footer .footer-col-3 {
    display: none;
  }
}
.footer .footer-col-1,
.footer .footer-col-3 {
  flex: 1;
  margin: 1rem;
}
@media screen and (max-width: 800px) {
  .footer .footer-col-1,
  .footer .footer-col-3 {
    margin: 0;
  }
}
.footer .footer-col-1 p,
.footer .footer-col-3 p {
  margin-bottom: 1.5rem;
}
.footer .footer-col-1 i,
.footer .footer-col-3 i {
  padding: 0.5em;
  border-radius: 50%;
  margin-right: 0.9rem;
}
.footer .fa-twitter:hover {
  background-color: #ffffff;
  color: #00acee;
}
.footer .fa-facebook-messenger:hover {
  background-color: #ffffff;
  color: #0084ff;
}
.footer .fa-youtube:hover {
  background-color: #ffffff;
  color: #ff0000;
}
.footer .footer-col-2 {
  flex: 3;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  margin: 1rem;
}
@media screen and (max-width: 800px) {
  .footer .footer-col-2 {
    display: none;
  }
}
.footer .footer-col-2 div {
  margin-left: 1rem;
  margin-right: 1rem;
  display: flex;
  flex-flow: column nowrap;
}
.footer .btn-blue {
  border: 2px solid #ffffff;
}

.footer-img {
  background-image: url("../public/logo--white.svg");
  background-color: #0b1c25;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 3rem;
  height: 1.5rem;
  position: relative;
}

.deals {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  align-self: auto;
  align-content: center;
  gap: 0;
  position: fixed;
  top: 0;
  left: 0;
  height: 42px;
  width: 100vw;
  background-color: #beae6f;
  color: #0b1c25;
  font-weight: 900;
  font-size: 12px;
  letter-spacing: 1px;
  transition: top 0.3s;
  text-transform: uppercase;
  z-index: 9999;
}

.deals.--hide {
  top: -42px;
  transition: top 0.3s;
}

.nav.--hide {
  top: 0;
  transition: top 0.3s;
}

.nav {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  align-self: auto;
  align-content: center;
  gap: 0;
  position: fixed;
  top: 3rem;
  left: 0;
  width: 100%;
  max-width: 100vw;
  height: 4rem;
  z-index: 9999;
  transition: top 0.3s;
}

.nav-links-wrapper {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  align-self: auto;
  align-content: center;
  gap: 1.5rem;
  margin: 0 1.25rem;
  cursor: pointer !important;
}

header {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  align-self: auto;
  align-content: center;
  gap: 0;
  position: relative;
}
header img {
  z-index: -99999;
  position: relative;
  width: 100vw;
  height: 60vh;
  min-height: 100vh;
}
.header-img {
  min-height: 50vh;
}
header .hero-index {
  top: -1rem;
  opacity: 0.4;
}

.stars {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: stretch;
  align-self: auto;
  align-content: flex-start;
  gap: 1rem;
  margin: 0.5rem 0;
}
.stars i {
  color: transparent;
  font-size: 1.5em;
  -webkit-text-stroke: 2px #beae6f;
}

.stars-one i:nth-of-type(1),
.stars-two i:nth-of-type(1),
.stars-two i:nth-of-type(2),
.stars-three i:nth-of-type(1),
.stars-three i:nth-of-type(2),
.stars-three i:nth-of-type(3),
.stars-four i:nth-of-type(1),
.stars-four i:nth-of-type(2),
.stars-four i:nth-of-type(3),
.stars-four i:nth-of-type(4),
.stars-five i,
.fontawesome-gold {
  color: #beae6f;
  font-size: 1.5em;
}

.fontawesome-outline {
  color: transparent;
  -webkit-text-stroke: 1.5px #beae6f;
  font-size: 1.5em;
}

/*# sourceMappingURL=main.css.map */
.date {
  position: absolute;

  z-index: 9999999;
}
.hero-tile-container {
  padding: 3.5rem;
}
.headerSearchInput {
  margin-left: 1.5em;
}
.headerSearchInputTextBox {
  color: #0b1c25;
}
.options {
  padding: 0.2rem;
  position: inherit;
  top: 50px;
  background-color: #ffffffbb;
  color: #282828;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 10px -5px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 0px 10px -5px rgba(0, 0, 0, 0.4);
}
.optionItem {
  width: 200px;
  display: flex;
  justify-content: space-between;
  margin: 10px;
}

.optionCounter {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 12px;
  color: black;
}

.optionCounterButton {
  width: 30px;
  height: 30px;
  border: 1px solid #0071c2;
  color: #0071c2;
  cursor: pointer;
  background-color: white;
}

.optionCounterButton:disabled {
  cursor: not-allowed;
}
.searchResultPage {
  margin-top: 8rem;
}

/* gallery*/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

@media only screen and (max-width: 80em) {
  html {
    font-size: 50%;
  }
}
.container {
  display: grid;
  grid-template-rows: 80vh min-content 40vw repeat(3, min-content);
  grid-template-columns:
    [sidebar-start] 8rem [sidebar-end full-start] minmax(6rem, 1fr)
    [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end])
    [center-end] minmax(6rem, 1fr)
    [full-end];
}

@media only screen and (max-width: 62.5em) {
  .container {
    grid-template-rows: 6rem 80vh min-content 40vw repeat(3, min-content);
    grid-template-columns:
      [full-start] minmax(6rem, 1fr) [center-start] repeat(
        8,
        [col-start] minmax(min-content, 14rem) [col-end]
      )
      [center-end] minmax(6rem, 1fr) [full-end];
  }
}
@media only screen and (max-width: 50em) {
  .container {
    grid-template-rows: 6rem calc(100vh - 6rem);
  }
}
.gallery {
  background-color: linear-gradient(to right, rgba(255, 0, 0, 0), #ffff);
  grid-column: full-start/full-end;
  display: grid;
  /*grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(7, 5vw);*/
  grid-template: repeat(7, 5vw) / repeat(8, 1fr);
  grid-gap: 1.5rem;
  padding: 1.5rem;
}
.gallery__item--1 {
  grid-row: 1 / span 2;
  grid-column: 1 / span 2;
}
.gallery__item--2 {
  grid-row: 1 / span 3;
  grid-column: 3 / span 3;
}
.gallery__item--3 {
  grid-row: 1 / span 2;
  grid-column: 6/7;
}
.gallery__item--4 {
  grid-row: 1 / span 2;
  grid-column: 7/-1;
}
.gallery__item--5 {
  grid-row: 3 / span 3;
  grid-column: 1 / span 2;
}
.gallery__item--6 {
  grid-row: 4 / span 2;
  grid-column: 3 / span 2;
}
.gallery__item--7 {
  grid-row: 4/5;
  grid-column: 5/6;
}
.gallery__item--8 {
  grid-row: 3 / span 2;
  grid-column: 6 / span 2;
}
.gallery__item--9 {
  grid-row: 3 / span 3;
  grid-column: 8/-1;
}
.gallery__item--10 {
  grid-row: 6 / span 2;
  grid-column: 1/2;
}
.gallery__item--11 {
  grid-row: 6 / span 2;
  grid-column: 2 / span 2;
}
.gallery__item--12 {
  grid-row: 6 / span 2;
  grid-column: 4/5;
}
.gallery__item--13 {
  grid-row: 5 / span 3;
  grid-column: 5 / span 3;
}
.gallery__item--14 {
  grid-row: 6 / span 2;
  grid-column: 8/-1;
}
.gallery__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.establishment-rooms {
  padding: 2rem;
  text-align: center;
}

/* footer */
/* .footer {
  background-color: #333;
  padding: 10rem 0;
  font-size: 1.4rem;
  color: #f7f7f7;
} */
/* @media only screen and (max-width: 56.25em) {
  .footer {
    padding: 8rem 0;
  }
}
.footer__logo-box {
  text-align: center;
  margin-bottom: 8rem;
}
@media only screen and (max-width: 56.25em) {
  .footer__logo-box {
    margin-bottom: 6rem;
  }
}
.footer__logo {
  width: 15rem;
  height: auto;
}
.footer-col-1,
.footer-col-2,
.footer-col-3 {
  border-top: 1px solid #777;
  padding-top: 2rem;
  display: inline-block;
}
@media only screen and (max-width: 56.25em) {
  .footer-col-1,
  .footer-col-2,
  .footer-col-3 {
    width: 100%;
    text-align: center;
  }
  .footer-col-3 {
    width: 100%;
    text-align: center;
  }
}
.SoMe {
  list-style: none;
}

.fab {
  display: inline-block;
}
.fab:not(:last-child) {
  margin-right: 1.5rem;
}
.footer__link:link,
.footer__link:visited {
  color: #f7f7f7;

  text-decoration: none;
  text-transform: uppercase;
  display: inline-block;
  transition: all 0.2s;
}
.footer__link:hover,
.footer__link:active {
  color: #55c57a;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4);
  transform: rotate(5deg) scale(1.3);
}
.footer__copyright {
  border-top: 1px solid #777;
  padding-top: 2rem;
  width: 80%;
  float: right;
}
@media only screen and (max-width: 56.25em) {
  .footer__copyright {
    width: 100%;
    float: none;
  }
} */
/* .footer {
  background-color: #333;
  padding: 10rem 0;
  font-size: 1.4rem;
  color: #f7f7f7;
}
@media only screen and (max-width: 56.25em) {
  .footer {
    padding: 8rem 0;
  }
}
.footer__logo-box {
  text-align: center;
  margin-bottom: 8rem;
}
@media only screen and (max-width: 56.25em) {
  .footer__logo-box {
    margin-bottom: 6rem;
  }
}
.footer__logo {
  width: 15rem;
  height: auto;
}
.footer__navigation {
  border-top: 1px solid #777;
  padding-top: 2rem;
  display: inline-block;
}
@media only screen and (max-width: 56.25em) {
  .footer__navigation {
    width: 100%;
    text-align: center;
  }
}
.footer__list {
  list-style: none;
}
.footer__item {
  display: inline-block;
}
.footer__item:not(:last-child) {
  margin-right: 1.5rem;
}
.footer__link:link,
.footer__link:visited {
  color: #f7f7f7;
  background-color: #333;
  text-decoration: none;
  text-transform: uppercase;
  display: inline-block;
  transition: all 0.2s;
}
.footer__link:hover,
.footer__link:active {
  color: #55c57a;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4);
  transform: rotate(5deg) scale(1.3);
}
.footer__copyright {
  border-top: 1px solid #777;
  padding-top: 2rem;
  width: 80%;
  float: right;
}
@media only screen and (max-width: 56.25em) {
  .footer__copyright {
    width: 100%;
    float: none;
  }
} */

.footer-dig {
  background-color: #beae6f;
  /* background: #5066be; */
  margin-top: 4rem;

  grid-column: full-start/full-end;
  padding: 8rem;
  margin-top: 5rem;
  overflow: hidden;

  /* position: fixed;
  bottom: 0;
  right: 0;
  left: 0; */
}

@media only screen and (max-width: 767px) {
  .footer-dig {
    margin-top: 8rem;
  }
  .nav-dig {
    height: auto;
    padding-left: 5rem;
    padding-right: 5rem;
    right: 0;
    bottom: 0 !important;
    left: 0;
    /* width: 100%;
    max-width: 100vw;
    height: 100%; */
  }
}
@media only screen and (max-width: 410px) {
  .footer-dig {
    margin-top: 12rem;
  }
}
.nav-dig {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  grid-gap: 2rem;
  align-items: center;
}
.nav-dig a i {
  color: #0b1c25;
}
.nav-dig__link:link,
.nav-dig__link:visited {
  font-size: 1.4rem;
  color: #0b1c25;
  text-decoration: none;
  font-family: "Josefin Sans", sans-serif;
  text-transform: uppercase;
  text-align: center;
  padding: 0.5rem;
  font-weight: 600;

  display: block;
  transition: all 0.2s;
}
.nav-dig__link:hover,
.nav-dig__link:active {
  background-color: rgba(255, 255, 255, 0.05);
  transform: translateY(-3px);
}

.copyright-dig {
  font-size: 1.4rem;
  color: #aaa;
  margin-top: 6rem;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  width: 70%;
}
.fab {
  display: flex;
  padding: 1rem;
  align-items: center;
  justify-content: center;
}

/* signup */
.Signup-form {
  max-width: 360px;
  margin: 60px auto;
  padding: 20px;
}
.Signup-form label {
  display: block;
  margin: 30px auto;
}
.Signup-form button {
  background: none;
  border: 2px solid #1f9751;
  padding: 6px 12px;
  border-radius: 4px;
  color: Red;
  font-weight: bold;
  cursor: pointer;
  font-size: 1em;
  color: rgb(9, 9, 9);
}
.Signup-form button:hover {
  background: #1f9751;
  color: #fff;
}
.Signup-form span {
  display: block;
  margin-bottom: 6px;
}
.Signup-form input {
  padding: 8px 6px;
  font-size: 1em;
  color: #777;
  width: 100%;
}
canvas {
  z-index: 1;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.caps {
  z-index: 2;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  animation: as 8s linear infinite;
}

.caps img {
  display: block;
  width: 100%;
  height: 100%;
}

@keyframes as {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0.3;
  }
  20% {
    opacity: 0.1;
  }
  30% {
    opacity: 0.5;
  }
  40% {
    opacity: 0;
  }
  50% {
    opacity: 0.8;
  }
  55% {
    opacity: 0;
  }
  55% {
    opacity: 0;
  }
}

.frame {
  z-index: 3;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: -moz-radial-gradient(
    center,
    ellipse cover,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0) 19%,
    rgba(0, 0, 0, 0.9) 100%
  ); /* FF3.6+ */
  background: -webkit-gradient(
    radial,
    center center,
    0px,
    center center,
    100%,
    color-stop(0%, rgba(0, 0, 0, 0)),
    color-stop(19%, rgba(0, 0, 0, 0)),
    color-stop(100%, rgba(0, 0, 0, 0.9))
  ); /* Chrome,Safari4+ */
  background: -webkit-radial-gradient(
    center,
    ellipse cover,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0) 19%,
    rgba(0, 0, 0, 0.9) 100%
  ); /* Chrome10+,Safari5.1+ */
  background: -o-radial-gradient(
    center,
    ellipse cover,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0) 19%,
    rgba(0, 0, 0, 0.9) 100%
  ); /* Opera 12+ */
  background: -ms-radial-gradient(
    center,
    ellipse cover,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0) 19%,
    rgba(0, 0, 0, 0.9) 100%
  ); /* IE10+ */
  background: radial-gradient(
    ellipse at center,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0) 19%,
    rgba(0, 0, 0, 0.9) 100%
  ); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#00000000', endColorstr = '#e6000000', GradientType = 1); /* IE6-9 fallback on horizontal gradient */
}

.frame div {
  position: absolute;
  left: 0;
  top: -20%;
  width: 100%;
  height: 20%;
  background-color: rgba(0, 0, 0, 0.12);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  animation: asd 12s linear infinite;
}

.frame div:nth-child(1) {
  animation-delay: 0;
}

.frame div:nth-child(2) {
  animation-delay: 4s;
}

.frame div:nth-child(3) {
  animation-delay: 8s;
}

@keyframes asd {
  0% {
    top: -20%;
  }
  100% {
    top: 100%;
  }
}

/* h1 {
  z-index: 3;
  position: absolute;
  font: bold 200px/200px Arial, sans-serif;
  left: 50%;
  top: 50%;
  margin-top: -100px;
  width: 100%;
  margin-left: -50%;
  height: 200px;
  text-align: center;
  color: transparent;
  text-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
  animation: asdd 2s linear infinite;
} */
.h1404 {
  z-index: 3;
  position: absolute;
  font: bold 200px/200px Arial, sans-serif;
  left: 50%;
  top: 50%;
  margin-top: -100px;
  width: 100%;
  margin-left: -50%;
  height: 200px;
  text-align: center;
  color: transparent;
  text-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
  animation: asdd 2s linear infinite;
}
@keyframes asdd {
  0% {
    text-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
  }
  33% {
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  }
  66% {
    text-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  }
  100% {
    text-shadow: 0 0 40px rgba(0, 0, 0, 0.8);
  }
}

/* confirm page */
/* body {
  background: #ecf0f9;
  color: #2f3d49;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Helvetica Neue, Helvetica, Arial, sans-serif, Apple Color Emoji,
    Segoe UI Emoji, Segoe UI Symbol;
  font-size: 1.1rem;
  font-weight: 400;
  margin: 0;
  padding: 0;
} */

.confirm-body {
  font-size: 1.1rem;
  font-weight: 400;
  margin: 0;
  padding: 0;

  color: #242424;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Helvetica Neue, Helvetica, Arial, sans-serif, Apple Color Emoji,
    Segoe UI Emoji, Segoe UI Symbol;
  font-size: 1.1rem;
}

a {
  color: #adc7cb;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.header {
  background: #fff;
  height: 9rem;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.header-inner {
  margin: auto;
  padding: 0;
  width: 700px;
}

/* .logo {
  margin-top: 29px;
  width: 240px;
} */

.menu {
  color: #00819b;
  float: right;
  font-size: 1.5rem;
  font-weight: 600;
  letter-spacing: 1px;
  padding-top: 34px;
}

.heading {
  margin: 120px auto 0;
  max-width: 75rem;

  background: #beae6fdd !important;
  padding: 2rem;
}

.margin-40 {
  margin-top: 40px;
}

.three-column {
  display: grid;
  grid-template-columns: 3fr 0.75fr 0.75fr;
  grid-gap: 20px;
}

.mc {
  float: right;
}

.mc img {
  width: 40px;
}

ul.leaders {
  max-width: 40em;
  padding: 0;
  margin-top: 0;
  overflow-x: hidden;
  list-style: none;
}

ul.leaders li:before {
  float: left;
  width: 0;
  white-space: nowrap;
  content: "                             ";
}

ul.leaders span:first-child {
  padding-right: 0.33em;
  background: #ecf0f9;
}

ul.leaders span + span {
  float: right;
  padding-left: 0.33em;
  background: #ecf0f9;
}

.card {
  background: #fff;
  border-radius: 2px;
  box-shadow: 0 2px 8px 1px #ccc;
  margin: auto;
  max-width: 85rem;
  padding: 40px;
}

.base-label {
  color: #c68f3d;
  cursor: text;
  display: block;
  font-weight: 600;
  margin-bottom: 6px;
  text-transform: uppercase;
  -webkit-transition: display 0.3s ease-out;
  transition: display 0.3s ease-out;
  font-size: 1.2rem;
}

.grid-container {
  background: #fff;
  display: grid;
  grid-template-columns: 20% 80%;
  grid-template-rows: 48px 48px 48px 48px 48px;
  gap: 1px 1px;
  grid-template-areas: "Label-1 Text-1" "Label-2 Text-2" "Label-3 Text-3" "Label-4 Text-4" "Label-5 Text-5";
}

.Label-1 {
  grid-area: Label-1;
}
.Text-1 {
  grid-area: Text-1;
}
.Label-2 {
  grid-area: Label-2;
}
.Text-2 {
  grid-area: Text-2;
}
.Label-3 {
  grid-area: Label-3;
}
.Text-3 {
  grid-area: Text-3;
}
.Label-4 {
  grid-area: Label-4;
}
.Text-4 {
  grid-area: Text-4;
}
.Label-5 {
  grid-area: Label-5;
}
.Text-5 {
  grid-area: Text-5;
}

.label-cell {
  border-top: 1px solid #ccc;
  padding: 12px;
}

.bottom-border {
  border-bottom: 1px solid #ccc;
}

.label-cell-left {
  padding-top: 18px;
}

.order-details {
  margin-top: 0;
}

.input-cc-icon {
  background: url(https://dl.dropbox.com/s/7xa2zvqhs2xhyq4/cc.png?dl=0)
    no-repeat scroll 7px 10px;
}

.base-input {
  height: 20px;
  background-color: #fbfafb;
  border-radius: 2px;
  width: 97%;
  border: 1px solid #ccc;
  padding: 8px 0 9px 10px;
  margin-bottom: 18px;
  color: #2f3d49;
  line-height: 16px;
  font-size: 14px;
}

.button {
  background-color: hsl(16, 100%, 57%) /*#4b858e*/;
  border: none;
  border-radius: 4px;
  color: #fff;
  display: block;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 2px;
  margin: 24px 0 0;
  min-width: 300px;
  padding: 16px;
  position: relative;
  text-transform: uppercase;
  transition: background-color 0.15s ease-out;
  width: 99%;
}

.button:hover {
  background-color: #ff4b0a;
  cursor: pointer;
}
.inline {
  align-items: center;
  justify-content: center;
}
@media only screen and (max-width: 600px) {
  body {
    margin: 0;
    padding: 0 20px 0;
  }
  .logo {
    margin-left: 20px;
  }
  .inline {
    width: 100%;
  }
}
.nobg {
  background: transparent !important;
  color: #e6f4f1;
}

.notop {
  color: #edeeff;
}
.Signup-form {
  font-family: "Work Sans", sans-serif;
  box-sizing: border-box;
}

:focus {
  outline: none;
}
.holder {
  width: 440px;
  background: #2196f3;
  height: 600px;
  margin: 50px auto;
  outline: 5px solid #f2f2f2;
}
.holder .parent {
  background-color: white;
  width: calc(100% - 50px);
  height: calc(100% - 50px);
  display: inline-block;
  margin-left: 25px;
  margin-top: 25px;
  border-radius: 7px;
}
.holder .parent h3 {
  text-align: center;
  font-size: 25px;
  margin-bottom: 0;
}
.Signup-form {
  display: block;
  border-bottom: 1px dashed #ccc;
  margin-left: 20px;
  margin-right: 20px;
}
.Signup-form > div {
  margin: 20px;
  padding: 10px;
  border-bottom: 1px solid #ccc;
  position: relative;
}
.Signup-form > div::before {
  content: "\f007";
  font-weight: 900;
  font-family: "Font Awesome 5 Free";
  position: absolute;
  color: #777;
  left: -1px;
}
.Signup-form > div:nth-child(2):before {
  content: "\f2b6";
}
.Signup-form > div:nth-child(3):before {
  content: "\f023";
}
.Signup-form > div:nth-child(4):before {
  content: "\f023";
}
.Signup-form div input {
  border: none;
  font-family: "Work Sans", sans-serif;
  font-size: 15px;
  margin-left: 10px;
}
div input + .border {
  position: absolute;
  left: 50%;
  bottom: -1px;
  background-color: #3498db;
  height: 1px;
  width: 0;
  transition: 0.3s;
  display: block;
}
div input:focus + .border {
  width: 100%;
  left: 0;
}
.Signup-form .private-inp {
  border: none;
  font-family: "work sans", sans-serif;
  display: block;
  margin: auto;
  background: #2196f3;
  width: 90%;
  padding: 10px;
  border-radius: 7px;
  margin-bottom: 10px;
  color: white;
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
}
.Signup-form p {
  margin: 20px;
  text-align: center;
  font-size: 12px;
  color: #777;
  padding: 15px;
}
.Signup-form p a {
  text-decoration: none;
  font-weight: bold;
  color: #2196f3ed;
}
.parent h4 {
  text-align: center;
  color: #777;
}
.social {
  text-align: center;
  margin-top: -8px;
}
.social i {
  width: 20px;
  height: 20px;
  background: #3b5998;
  display: inline-block;
  padding: 10px;
  border-radius: 50%;
  color: white;
}
.social i:nth-child(2) {
  background: #1da1f2;
}
.social i:nth-child(3) {
  background: #db4437;
}
:focus::placeholder {
  opacity: 0;
  transition: 0.5s;
}
.noticeSign {
  margin-top: 20vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.shortHolder {
  height: 450px;
}

.modal {
  height: 400px;
  display: absolute;
  width: 650px;
  margin: auto;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  transition: 0.4s, box-shadow 0.3s 0.4s;
}
.modal.hidden {
  box-shadow: none;
  transition: 0.4s, box-shadow 0s;
  opacity: 0;
  visibility: hidden;
}
.modal.hidden .form {
  top: 100%;
}
.modal.hidden .invite {
  top: -100%;
}
.modal.hidden .invite .close {
  height: 0;
  width: 0;
  top: 0;
  right: 0;
}

.modalForm,
.invite {
  background: rgba(71, 71, 71, 0.8);
  width: 50%;
  height: 100%;
  padding: 25px;
  position: absolute;
  top: 0;
  left: 0;
}

.modalInput {
  background: rgba(255, 255, 255, 0.15);
  width: 85%;
  padding: 8px;
  margin: 15px 0;
  border: none;
  border-radius: 3px;
  outline: none;
  color: #fff;
  font-size: 20px;
}
.modalInput:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 500px #7a7a7a inset;
  -webkit-text-fill-color: #fff;
}

.modalLabel {
  font: 500 14px Roboto;
  color: #beae6f;
}

.ModalButton {
  background: linear-gradient(-45deg, #beae6f, #beae6f);
  padding: 10px 20px;
  border: none;
  border-radius: 21px;
  outline: none;
  overflow: hidden;
  position: absolute;
  bottom: 30px;
  left: 50%;
  color: #fff;
  font-size: 18px;
  cursor: pointer;
  transform: translateX(-50%);
}
.ModalButton:hover:before {
  left: 110%;
  transition: 0.3s;
}
.ModalButton:before {
  content: "";
  background: rgba(255, 255, 255, 0.3);
  height: 100%;
  width: 65px;
  position: absolute;
  top: 0;
  left: -100%;
  transform: skew(-45deg);
  transition: 0s;
}

.invite {
  background: linear-gradient(-45deg, #beae6f, #c7a32fde);
  left: 50%;
}

.Modalh3 {
  font: 30px Roboto;
  text-transform: uppercase;
}

.nope {
  background: #474747;
  padding: 10px 15px;
  border-radius: 3px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);
  position: absolute;
  bottom: 30px;
  left: 50%;
  font-size: 12px;
  white-space: nowrap;
  cursor: pointer;
  transform: translateX(-50%);
}
.nope:hover {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25);
  transform: translateX(-50%);
}

.modalClose {
  background: #474747;
  height: 30px;
  width: 30px;
  border: 3px solid #fff;
  border-radius: 50%;
  position: absolute;
  top: -15px;
  right: -15px;
  cursor: pointer;
  transition: 0.4s 0.3s;
}
.modalClose:before,
.modalClose:after {
  content: "";
  background: #fff;
  height: 80%;
  width: 3px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
}
.modalClose:after {
  transform: translate(-50%, -50%) rotate(45deg);
}

.open {
  background: linear-gradient(-45deg, #f857a6, #ff5858);
  height: 45px;
  width: 150px;
  padding: 10px 20px;
  margin: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  font-size: 20px;
  text-align: center;
  white-space: nowrap;
  cursor: pointer;
  opacity: 0;
  visibility: hidden;
}
.open.active {
  opacity: 1;
  visibility: visible;
}
.open:hover {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.modalBody {
  background: lighten(#474747, 10%)
    url(https://images.unsplash.com/photo-1452716726610-30ed68426a6b?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&w=1080&fit=max&s=177c2914fe84d20069f207e27632acc9)
    center/cover no-repeat;
  height: 0vh;
  overflow: hidden;
  color: #fff;
  font-family: Roboto;
  z-index: 99999 !important;
}
.rower {
  max-width: 100rem;
  margin: 0 auto;
  margin-top: 1rem;
}
.rower:not(:last-child) {
  margin-bottom: 8rem;
}
.rower::after {
  content: "";
  display: table;
  clear: both;
}
.rower [class^="col-"] {
  float: left;
}
.rower [class^="col-"]:not(:last-child) {
  margin-right: 6rem;
}
.rower .col-1-of-2 {
  width: calc((100% - 6rem) / 2);
}
.rower .col-1-of-3 {
  width: calc((100% - 2 * 6rem) / 3);
}
.rower .col-2-of-3 {
  width: calc(2 * ((100% - 2 * 6rem) / 3) + 6rem);
}
.rower .col-1-of-4 {
  width: calc((100% - 3 * 6rem) / 4);
}
.rower .col-2-of-4 {
  width: calc(2 * ((100% - 3 * 6rem) / 4) + 6rem);
}
.rower .col-3-of-4 {
  width: calc(3 * ((100% - 3 * 6rem) / 4) + 2 * 6rem);
}

.feature-box {
  background-color: rgba(255, 255, 255, 0.579);
  font-size: 1.2rem;
  max-width: 70vw;
  padding: 1.5rem;
  text-align: center;
  border-radius: 3px;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.15);
  transition: transform 0.3s;
}
.feature-box__icon {
  font-size: 6rem;
  margin-bottom: 0.5rem;
  display: inline-block;
  color: linear-gradient(to right, #7ed56f, #28b485);
  -webkit-background-clip: text;
  color: transparent;
}
.feature-box:hover {
  transform: translateY(-0.5rem) scale(1.01);
}
.section-features {
  background: linear-gradient(to right, #fff, #e0d5aaa0);
  background-size: cover;
  color: #192a44;
  padding: 2.5rem;
  border-radius: 0.5rem;
  margin-bottom: 2rem;
  min-width: 70vw;
  max-width: 82vw;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.trainh4 {
  text-align: right;
}
