.logo {
    height: 32px;
    &:hover, &:focus {
        opacity: 0.5;
    }
    &:active {
        transform: scale(0.9);
    }
}
nav .logo {
    margin: 0 0.8rem;
}

.btn-gold {
    height: 2.5rem;
    width: 10rem;
    background-color: transparent;
    color: $gold;
    font-size: 11pt;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    font-weight: 500;
    font-style: normal;
    text-decoration: none;

    span {
        height: 2.5rem;
        width: 10rem;
        @include flex(column nowrap, center, center, auto, flex-start, 0);
        position: absolute;
        border: solid 2px $gold;
    }

    &:hover,
    &:focus {
        span {
            background-color: transparent;
            color: $black;
        }

        .background {
            background-color: $gold;
            animation: fill 0.2s linear 1;
        }
    }
}

.btn-blue {
    padding: 0.5rem 1rem;
    background-color: transparent;
    border: solid 3px $dark-blue;
    color: $dark-blue;
    font-size: 12pt;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    font-weight: 500;
    font-style: normal;
    text-decoration: none;
}
