* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    overflow-y: auto;
    overflow-x: hidden;
}
html,
body {
    scroll-behavior: smooth;
    overflow-y: auto;
    overflow-x: hidden;
}
::-webkit-scrollbar-thumb { background: #bdbdbd; }
::-webkit-scrollbar-thumb:hover { background: #bdbdbd86; }
::-webkit-scrollbar {
    width: 10px;
    background: $white;
}