@mixin flex(
    //@include flex(column nowrap, flex-start, stretch, auto, flex-start, 0);
    $flow: column nowrap, //row | row-reverse | column | column-reverse ... nowrap | wrap | wrap-reverse
    $justify-content: flex-start, //flex-start | flex-end | center | space-between | space-around | space-evenly | start | end | left | right ... + safe | unsafe;
    $align-items: stretch,
    $align-self: auto,
    $align-content: flex-start,
    $gap: 1rem
) {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-flow: $flow;
    justify-content: $justify-content;
    align-items: $align-items;
    align-self: $align-self;
    align-content: $align-content;
    gap: $gap;
}
@mixin hover-underline($weight: 2px, $color: $gold) {
    position: relative;
    &::after {
        position: absolute;
        left: 0;
        content: "";
        width: 100%;
        height: $weight;
        bottom: $weight * -2;
        transform: scale(0, 1);
        transition: transform 0.4s;
        background: $color;
    }
    &:hover::after,
    &:focus::after,
    &:active::after {
        transform: scale(1, 1);
    }
}