$dark-blue: #0b1c25;
$gold: #beae6f;
$white: #ffffff;
$orange: #ffa500;
$yellow: #ffd500;
$red: #ff0000;
$black: #242424;
$box-shadow: -4px -2px 16px rgba(0, 0, 0, 0.55);
$light-grey: #8d8d8d;

//SoMe background colors:
$intagram: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285aeb 90%);
$linkedin: #0072b1;
$github: #24292e;
$codepen: #1e1f26;

$border: solid 2pt $gold;
