$yellow: #ffd500;
$black: #191919;
$white: #f5f5f5;

//SoMe background colors:
$intagram: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285aeb 90%);
$linkedin: #0072b1;
$github: #24292e;
$codepen: #1e1f26;