@import url("https://use.typekit.net/onc6ttx.css");
//font-family: montserrat, sans-serif;
//ivymode, sans-serif;

body,
input {
    font-family: montserrat, sans-serif;
    color: $white;
}

h1, .h1 {
    font-family: ivymode, sans-serif;
    font-size: clamp(1.8em, 4vw, 4rem);
    font-weight: 500;
    line-height: 1.1em;
    text-transform: capitalize;
}

h5 {
    font-family: montserrat, sans-serif;
    font-size: clamp(1.15em, 3vw, 2.5rem);
    font-weight: 500;
    text-transform: capitalize;
}
