.footer {
    background: $dark-blue;
    color: $white;
    width: 100%;
    max-width: 100vw;
    height: 100%;
	display: flex;
	flex-flow: row nowrap;
    padding: 3rem;
    @media screen and (max-width: 800px) { padding: 2rem; }
    h6 {
        text-transform: uppercase;
        margin-bottom: 0.5em;
        font-size: 1.1em;
        letter-spacing: 0.1em;
        color: $gold;
    }
    a, p {
        color: $white;
        font-family: roboto, sans-serif;
        line-height: 1.75em;
        font-size: 1em;
        text-decoration: none;
    }
    p + p { font-size: 0.7em; }
    .footer-col-3 { 
        @media screen and (max-width: 800px) { display: none; }
    }
    .footer-col-1, .footer-col-3 {
        flex: 1;
        margin: 1rem;
        @media screen and (max-width: 800px) { margin: 0; }
        p { margin-bottom: 1.5rem; }
        i {
            padding: 0.5em;
            border-radius: 50%;
            margin-right: 0.9rem;
        }
    }
    .fa-twitter:hover {
        background-color: $white;
        color: #00ACEE;
    }
    .fa-facebook-messenger:hover {
        background-color: $white;
        color: #0084ff;
    }
    .fa-youtube:hover {
        background-color: $white;
        color: $red;
    }
    .footer-col-2 {
        @media screen and (max-width: 800px) { display: none; }
        flex: 3;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-evenly;
        margin: 1rem;
        div {
            margin-left: 1rem;
            margin-right: 1rem;
            display: flex;
            flex-flow: column nowrap;
        }
    }
    .btn-blue { border: 2px solid $white; }
}
.footer-img {
    background-image: url("../public/logo--white.svg");
    background-color: $dark-blue;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 3rem;
    height: 1.5rem;
    position: relative;
}