header {
    @include flex(column nowrap, center, center, auto, center, 0);
    .hero-index {
        position: relative;
        z-index: -99999;
        width: 100vw;
        height: auto;
        opacity: 0.5;
    }
    h1 {
        font-size: 19vmin;
        position: relative;
        top: -45rem;
    }
}
.hero-tiles {
    position: absolute;
    max-width: 1280px;
    margin: -12rem 0 0 0;
    @include flex(row wrap, center, center, auto, center, 2rem 4rem);
    img {
        height: 40px;
        width: auto;
    }
    .tile {
        @include flex(row nowrap, center, center, auto, center, 2rem);
        height: 9rem;
        width: 20rem;
        border: solid 2px $gold;
        font-size: 1.2em;
    }
}
