header {
    @include flex(column nowrap, center, center, auto, center, 0);
    img {
        position: relative;
        z-index: -99999;
        width: 100vw;
        height: auto;
    }
    h1 {
        font-size: 19vmin;
        position: relative;
        top: -45rem;
    }
}
