.deals {
    @include flex(row nowrap, center, center, auto, center, 0);
    position: fixed;
    top: 0;
    left: 0;
    height: 48px;
    width: 100vw;
    background-color: $gold;
    color: $dark-blue;
    font-weight: 900;
    font-size: 14px;
    letter-spacing: 1px;
    transition: top 0.3s;
    text-transform: uppercase;
    z-index: 9999;
}
.deals.--hide {
    top: -48px;
    transition: top 0.3s;
}
.nav.--hide {
    top: 0;
    transition: top 0.3s;
}
.nav {
    @include flex(row nowrap, space-between, center, auto, center, 0);
    position: fixed;
    top: 3rem;
    left: 0;
    width: 100%;
    max-width: 100vw;
    height: 4rem;
    z-index: 9999;
    transition: top 0.3s;
}
.nav-links-wrapper {
    @include flex(row nowrap, space-between, center, auto, center, 0.25rem);
    margin: 0 0.5rem;
    a {
        color: $white;
        text-decoration: none;
        letter-spacing: 0.1em;
       &:hover .css-icon.phone {background-image: url("/icons/phone-hover.svg"); }
       &:hover .css-icon.user {background-image: url("/icons/user-hover.svg"); }
    }
}
.nav-links {
    @include flex(row nowrap, space-between, center, auto, center, 0);
    margin: 0.5rem;
}