.icons-outline {
    font-size: 1.5em;
    color: transparent;
    -webkit-text-stroke: 2px $gold;
    &:hover,
    &:focus {
        color: $gold;
        -webkit-text-stroke: 2px transparent;
    }
}
.icons-solid {
    font-size: 1.5em;
    color: $gold;
}
