@import url("https://use.typekit.net/onc6ttx.css");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  scroll-behavior: smooth;
  overflow-y: auto;
  overflow-x: hidden;
}

::-webkit-scrollbar-thumb {
  background: #bdbdbd;
}

::-webkit-scrollbar-thumb:hover {
  background: #bdbdbd86;
}

::-webkit-scrollbar {
  width: 10px;
  background: #ffffff;
}

body {
  background-color: #0b1c25;
}

main {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  align-self: auto;
  align-content: flex-start;
  gap: 1rem;
  position: relative;
  height: 100%;
  min-height: 100vh;
}

body,
input {
  font-family: montserrat, sans-serif;
  color: #ffffff;
}

h1 {
  font-family: ivymode, sans-serif;
  font-size: clamp(1.8em, 4vw, 4rem);
  font-weight: 500;
  line-height: 1.1em;
  text-transform: capitalize;
}

h5 {
  font-family: montserrat, sans-serif;
  font-size: clamp(1.15em, 3vw, 2.5rem);
  font-weight: 500;
  text-transform: capitalize;
}

.sr-only:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.css-icon {
  height: 20px;
  width: 20px;
  background-repeat: no-repeat;
}

.css-icon.phone {
  background-image: url("/icons/phone.svg");
}
.css-icon.phone:hover {
  background-image: url("/icons/phone-hover.svg");
}

.css-icon.user {
  background-image: url("/icons/user.svg");
}
.css-icon.user:hover {
  background-image: url("/icons/user-hover.svg");
}

.css-icon.house {
  background-image: url("/icons/house.svg");
}
.css-icon.house:hover {
  background-image: url("/icons/house-hover.svg");
}

.css-icon.search {
  background-image: url("/icons/search.svg");
  /* &:hover {
       background-image: url("/icons/search-hover.svg");
   }*/
}

.logo {
  height: 32px;
}
.logo:hover, .logo:focus {
  opacity: 0.5;
}
.logo:active {
  transform: scale(0.9);
}

nav .logo {
  margin: 0 0.8rem;
}

.btn-gold {
  padding: 0.6rem 1.25rem;
  background-color: transparent;
  border: solid 1pt #beae6f;
  color: #beae6f;
  font-size: 11pt;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  font-weight: 500;
  font-style: normal;
  text-decoration: none;
}
.btn-gold:hover, .btn-gold:focus {
  background-color: #beae6f;
  color: #242424;
}

.btn-blue {
  padding: 0.5rem 1rem;
  background-color: transparent;
  border: solid 3px #0b1c25;
  color: #0b1c25;
  font-size: 12pt;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  font-weight: 500;
  font-style: normal;
  text-decoration: none;
}

.footer {
  background: #0b1c25;
  color: #ffffff;
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: row nowrap;
  padding: 3rem;
}
@media screen and (max-width: 800px) {
  .footer {
    padding: 2rem;
  }
}
.footer h6 {
  text-transform: uppercase;
  margin-bottom: 0.5em;
  font-size: 1.1em;
  letter-spacing: 0.1em;
  color: #beae6f;
}
.footer a, .footer p {
  color: #ffffff;
  font-family: roboto, sans-serif;
  line-height: 1.75em;
  font-size: 1em;
  text-decoration: none;
}
.footer p + p {
  font-size: 0.7em;
}
@media screen and (max-width: 800px) {
  .footer .footer-col-3 {
    display: none;
  }
}
.footer .footer-col-1, .footer .footer-col-3 {
  flex: 1;
  margin: 1rem;
}
@media screen and (max-width: 800px) {
  .footer .footer-col-1, .footer .footer-col-3 {
    margin: 0;
  }
}
.footer .footer-col-1 p, .footer .footer-col-3 p {
  margin-bottom: 1.5rem;
}
.footer .footer-col-1 i, .footer .footer-col-3 i {
  padding: 0.5em;
  border-radius: 50%;
  margin-right: 0.9rem;
}
.footer .fa-twitter:hover {
  background-color: #ffffff;
  color: #00ACEE;
}
.footer .fa-facebook-messenger:hover {
  background-color: #ffffff;
  color: #0084ff;
}
.footer .fa-youtube:hover {
  background-color: #ffffff;
  color: #ff0000;
}
.footer .footer-col-2 {
  flex: 3;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  margin: 1rem;
}
@media screen and (max-width: 800px) {
  .footer .footer-col-2 {
    display: none;
  }
}
.footer .footer-col-2 div {
  margin-left: 1rem;
  margin-right: 1rem;
  display: flex;
  flex-flow: column nowrap;
}
.footer .btn-blue {
  border: 2px solid #ffffff;
}

.footer-img {
  background-image: url("../public/logo--white.svg");
  background-color: #0b1c25;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 3rem;
  height: 1.5rem;
  position: relative;
}

.pop-up {
  background-color: #ffffff;
  display: flex;
  position: fixed;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  box-shadow: -4px -2px 16px rgba(0, 0, 0, 0.55);
  border-radius: 2.5px;
  bottom: 50vh;
  margin-bottom: -11rem;
  left: 50vw;
  margin-left: -17.5rem;
  height: 22rem;
  width: 35rem;
}
.pop-up input, .pop-up input:active, .pop-up input:focus {
  border-bottom: solid 1px #242424;
  border-top: none;
  border-left: none;
  border-right: none;
  width: 100%;
  outline: none;
  line-height: 2em;
}
.pop-up input::placeholder, .pop-up input:active::placeholder, .pop-up input:focus::placeholder {
  color: #8d8d8d;
  text-transform: none;
}
.pop-up .error {
  text-align: left;
  margin-top: 0.7rem;
}
.pop-up form {
  display: block;
  text-align: center;
  box-shadow: none;
}
.pop-up form .btn-blue {
  margin-top: 1.5rem;
}
.pop-up h2 {
  font-weight: 900;
  color: #0b1c25;
  margin-bottom: 1rem;
}
.pop-up h3 {
  font-family: learning-curve, sans-serif;
  font-size: 1.6em;
  color: #8d8d8d;
  margin-bottom: 1rem;
}

.popup-arrow {
  display: none;
}

.accommodations-footer {
  position: relative;
  bottom: 0vh;
  left: 0vh;
}

.deals {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  align-self: auto;
  align-content: center;
  gap: 0;
  position: fixed;
  top: 0;
  left: 0;
  height: 48px;
  width: 100vw;
  background-color: #beae6f;
  color: #0b1c25;
  font-weight: 900;
  font-size: 14px;
  letter-spacing: 1px;
  transition: top 0.3s;
  text-transform: uppercase;
  z-index: 9999;
}

.deals.--hide {
  top: -48px;
  transition: top 0.3s;
}

.nav.--hide {
  top: 0;
  transition: top 0.3s;
}

.nav {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  align-self: auto;
  align-content: center;
  gap: 0;
  position: fixed;
  top: 3rem;
  left: 0;
  width: 100%;
  max-width: 100vw;
  height: 4rem;
  z-index: 9999;
  transition: top 0.3s;
}

.nav-links-wrapper {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  align-self: auto;
  align-content: center;
  gap: 0.25rem;
  margin: 0 0.5rem;
}
.nav-links-wrapper a {
  color: #ffffff;
  text-decoration: none;
  letter-spacing: 0.1em;
}
.nav-links-wrapper a:hover .css-icon.phone {
  background-image: url("/icons/phone-hover.svg");
}
.nav-links-wrapper a:hover .css-icon.user {
  background-image: url("/icons/user-hover.svg");
}

.nav-links {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  align-self: auto;
  align-content: center;
  gap: 0;
  margin: 0.5rem;
}

header {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  align-self: auto;
  align-content: center;
  gap: 0;
  position: relative;
}
header img {
  z-index: -99999;
  position: relative;
  width: 100vw;
  height: auto;
}
header .hero-index {
  top: -1rem;
  opacity: 0.4;
}

.hero-tiles {
  position: absolute;
  top: 50vh;
  margin-top: -9rem;
  max-width: 1280px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  align-self: auto;
  align-content: center;
  gap: 2rem 4rem;
}
.hero-tiles .css-icon {
  height: 40px;
  width: 40px;
}
.hero-tiles .tile {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  align-self: auto;
  align-content: center;
  gap: 2rem;
  height: 9rem;
  width: 20rem;
  border: solid 2pt #beae6f;
  font-size: 1.2em;
}
.hero-tiles .tile:hover .css-icon.house {
  background-image: url("/icons/house-hover.svg");
}
.hero-tiles .tile:active {
  background-color: #beae6f;
  color: #242424;
}
.hero-tiles .tile:active .css-icon {
  filter: invert(100%) sepia(50);
}

.filter-wrapper {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: stretch;
  align-self: auto;
  align-content: flex-start;
  gap: 0;
  width: 100%;
  max-width: 1280px;
  border-bottom: solid 1px #707070;
  margin-bottom: 5rem;
}
.filter-wrapper .btn-wrapper {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  align-self: auto;
  align-content: flex-start;
  gap: 0;
}

.filter {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: stretch;
  align-self: auto;
  align-content: flex-start;
  gap: 0;
}
.filter img {
  height: 20pt;
}

.filter-element {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  align-self: auto;
  align-content: flex-start;
  gap: 1rem;
  border-right: solid 1px #707070;
  padding: 0rem 4rem;
  margin: 1.5rem 0;
}
.filter-element:first-of-type {
  padding: 0rem 4rem 0rem 1.5rem;
}

.establishments-wrapper {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  align-self: auto;
  align-content: center;
  gap: 15vmax;
  max-width: 1280px;
}

.establishment {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: stretch;
  align-self: auto;
  align-content: flex-start;
  gap: 6rem;
}
.establishment .col-1,
.establishment .col-2 {
  flex: 1;
}
.establishment img {
  width: 100%;
  z-index: -1;
}
.establishment .col-2 {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  align-self: auto;
  align-content: flex-start;
  gap: 0.5rem;
  padding: 2rem 5rem;
}
.establishment .id {
  position: absolute;
  font-size: 10vmax;
  font-weight: 700;
  opacity: 0.1;
  z-index: -9;
  margin-top: -4.5rem;
  margin-left: -7rem;
}
.establishment figcaption {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  align-self: auto;
  align-content: center;
  gap: 0;
  position: relative;
  top: -92%;
  background-color: #707070;
  height: 2rem;
  width: 6rem;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-weight: 900;
  color: #0b1c25;
}

.location {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: stretch;
  align-self: auto;
  align-content: flex-start;
  gap: 3em;
}
.location .txt {
  color: #beae6f;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.25em;
  font-size: 0.75em;
}
.location .line {
  border-bottom: solid 1px #beae6f;
  width: 7rem;
  height: 1rem;
  position: relative;
  top: -0.4em;
}

.establishment-name {
  font-family: ivymode, sans-serif;
  font-size: clamp(1.8em, 3vw, 2.5rem);
  font-weight: 500;
  line-height: 1.1em;
  text-transform: capitalize;
}

.establishment-description {
  width: 20rem;
}

.login-page {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  align-self: auto;
  align-content: flex-start;
  gap: 0;
  min-height: 100vh;
}

.form-side {
  position: absolute;
  background-color: #0b1c25;
  box-shadow: 9px 2px 16px rgba(5, 21, 34, 0.4), -4px -2px 16px rgba(18, 58, 92, 0.4);
  height: 60vmin;
  width: 80vmax;
}

.form-wrapper {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  align-self: auto;
  align-content: flex-start;
  gap: 0;
  position: absolute;
  margin-right: -35vw;
  background-color: #ffffff;
  height: 80vmin;
  width: 40vmax;
  color: #242424;
  padding: 10vmin;
}

/*# sourceMappingURL=styles.css.map */
