@import url("https://use.typekit.net/onc6ttx.css");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  scroll-behavior: smooth;
  overflow-y: auto;
}

::-webkit-scrollbar-thumb {
  background: #bdbdbd;
}

::-webkit-scrollbar-thumb:hover {
  background: #bdbdbd86;
}

::-webkit-scrollbar {
  width: 10px;
  background: #ffffff;
}

body {
  background-color: #0b1c25;
}

main {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  align-self: auto;
  align-content: flex-start;
  gap: 1rem;
  position: relative;
  height: 100%;
  min-height: 100vh;
}

body,
input {
  font-family: montserrat, sans-serif;
  color: #ffffff;
}

h1, .h1 {
  font-family: ivymode, sans-serif;
  font-size: clamp(1.8em, 4vw, 4rem);
  font-weight: 500;
  line-height: 1.1em;
  text-transform: capitalize;
}

h5 {
  font-family: montserrat, sans-serif;
  font-size: clamp(1.15em, 3vw, 2.5rem);
  font-weight: 500;
  text-transform: capitalize;
}

.sr-only:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.logo {
  height: 32px;
}
.logo:hover, .logo:focus {
  opacity: 0.5;
}
.logo:active {
  transform: scale(0.9);
}

nav .logo {
  margin: 0 0.8rem;
}

.btn-gold {
  padding: 0.6rem 1.25rem;
  background-color: transparent;
  border: solid 2px #beae6f;
  color: #beae6f;
  font-size: 11pt;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  font-weight: 500;
  font-style: normal;
  text-decoration: none;
}
.btn-gold:hover, .btn-gold:focus {
  background-color: #beae6f;
  color: #242424;
}

.btn-blue {
  padding: 0.5rem 1rem;
  background-color: transparent;
  border: solid 3px #0b1c25;
  color: #0b1c25;
  font-size: 12pt;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  font-weight: 500;
  font-style: normal;
  text-decoration: none;
}

.footer {
  background: #0b1c25;
  color: #ffffff;
  width: 100%;
  max-width: 100vw;
  height: 100%;
  display: flex;
  flex-flow: row nowrap;
  padding: 3rem;
}
@media screen and (max-width: 800px) {
  .footer {
    padding: 2rem;
  }
}
.footer h6 {
  text-transform: uppercase;
  margin-bottom: 0.5em;
  font-size: 1.1em;
  letter-spacing: 0.1em;
  color: #beae6f;
}
.footer a, .footer p {
  color: #ffffff;
  font-family: roboto, sans-serif;
  line-height: 1.75em;
  font-size: 1em;
  text-decoration: none;
}
.footer p + p {
  font-size: 0.7em;
}
@media screen and (max-width: 800px) {
  .footer .footer-col-3 {
    display: none;
  }
}
.footer .footer-col-1, .footer .footer-col-3 {
  flex: 1;
  margin: 1rem;
}
@media screen and (max-width: 800px) {
  .footer .footer-col-1, .footer .footer-col-3 {
    margin: 0;
  }
}
.footer .footer-col-1 p, .footer .footer-col-3 p {
  margin-bottom: 1.5rem;
}
.footer .footer-col-1 i, .footer .footer-col-3 i {
  padding: 0.5em;
  border-radius: 50%;
  margin-right: 0.9rem;
}
.footer .fa-twitter:hover {
  background-color: #ffffff;
  color: #00ACEE;
}
.footer .fa-facebook-messenger:hover {
  background-color: #ffffff;
  color: #0084ff;
}
.footer .fa-youtube:hover {
  background-color: #ffffff;
  color: #ff0000;
}
.footer .footer-col-2 {
  flex: 3;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  margin: 1rem;
}
@media screen and (max-width: 800px) {
  .footer .footer-col-2 {
    display: none;
  }
}
.footer .footer-col-2 div {
  margin-left: 1rem;
  margin-right: 1rem;
  display: flex;
  flex-flow: column nowrap;
}
.footer .btn-blue {
  border: 2px solid #ffffff;
}

.footer-img {
  background-image: url("../public/logo--white.svg");
  background-color: #0b1c25;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 3rem;
  height: 1.5rem;
  position: relative;
}

.deals {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  align-self: auto;
  align-content: center;
  gap: 0;
  position: fixed;
  top: 0;
  left: 0;
  height: 42px;
  width: 100vw;
  background-color: #beae6f;
  color: #0b1c25;
  font-weight: 900;
  font-size: 12px;
  letter-spacing: 1px;
  transition: top 0.3s;
  text-transform: uppercase;
  z-index: 9999;
}

.deals.--hide {
  top: -42px;
  transition: top 0.3s;
}

.nav.--hide {
  top: 0;
  transition: top 0.3s;
}

.nav {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  align-self: auto;
  align-content: center;
  gap: 0;
  position: fixed;
  top: 3rem;
  left: 0;
  width: 100%;
  max-width: 100vw;
  height: 4rem;
  z-index: 9999;
  transition: top 0.3s;
}
.nav .icons-outline {
  font-size: 1.1em;
}

.nav-links-wrapper {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  align-self: auto;
  align-content: center;
  gap: 2rem;
  margin: 0 1.25rem;
}
.nav-links-wrapper a:hover i, .nav-links-wrapper a:focus i {
  color: 2pt solid color;
}

header {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  align-self: auto;
  align-content: center;
  gap: 0;
  position: relative;
}
header img {
  z-index: -99999;
  position: relative;
  width: 100vw;
  height: auto;
  min-height: 100vh;
}
header .hero-index {
  top: -1rem;
  opacity: 0.4;
}

.hero-tiles {
  position: absolute;
  top: 50vh;
  margin-top: -9rem;
  max-width: 1280px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  align-self: auto;
  align-content: center;
  gap: 2rem 4rem;
}
.hero-tiles .tile {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  align-self: auto;
  align-content: center;
  gap: 2rem;
  height: 10rem;
  width: 22rem;
  padding: 2rem 5rem;
  border: solid 2pt #beae6f;
  font-size: 1.2em;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-weight: 600;
}
.hero-tiles .fa-solid {
  font-size: 2em;
}

.filter-wrapper {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: stretch;
  align-self: auto;
  align-content: flex-start;
  gap: 0;
  width: 100%;
  max-width: 1280px;
  border-bottom: solid 1px #707070;
  margin-top: -10rem;
  margin-bottom: 5rem;
}
.filter-wrapper .btn-wrapper {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  align-self: auto;
  align-content: flex-start;
  gap: 0;
}

.filter {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: stretch;
  align-self: auto;
  align-content: flex-start;
  gap: 0;
}

.filter-element {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  align-self: auto;
  align-content: flex-start;
  gap: 1rem;
  border-right: solid 1px #707070;
  padding: 0rem 4rem;
  margin: 1.5rem 0;
}
.filter-element:first-of-type {
  padding: 0rem 4rem 0rem 1.5rem;
}

.establishments-wrapper {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  align-self: center;
  align-content: center;
  gap: 15vmax;
  width: 100%;
  max-width: 1280px;
}

.establishment {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: stretch;
  align-self: auto;
  align-content: flex-start;
  gap: 6rem;
  width: 100%;
}
.establishment .col-1 {
  flex: 1.5;
  position: relative;
  width: 38rem;
  height: 23rem;
  overflow: hidden;
  z-index: 1;
}
.establishment .col-2 {
  flex: 1;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  align-self: auto;
  align-content: flex-start;
  gap: 1rem;
  padding: 2rem 0rem 0rem 5rem;
}
.establishment img {
  left: 50%;
  position: relative;
  top: 50%;
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  max-width: 100%;
}
.establishment .id {
  position: absolute;
  font-size: 10vmax;
  font-weight: 700;
  opacity: 0.1;
  z-index: -9;
  margin-top: -4.5rem;
  margin-left: -7rem;
}
.establishment:nth-last-of-type(even) {
  transform: scaleX(-1);
}
.establishment:nth-last-of-type(even) .col-2 {
  transform: scaleX(-1);
}

.location {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: stretch;
  align-self: auto;
  align-content: flex-start;
  gap: 3em;
}
.location .txt {
  color: #beae6f;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.25em;
  font-size: 0.75em;
}
.location .line {
  border-bottom: solid 1px #beae6f;
  width: 7rem;
  height: 1rem;
  position: relative;
  top: -0.4em;
}

.establishment-name {
  font-family: ivymode, sans-serif;
  font-size: clamp(1.8em, 3vw, 3rem);
  font-weight: 500;
  line-height: 1.1em;
  text-transform: capitalize;
}

.establishment-description {
  margin-bottom: 2rem;
}

.establishments-hero-txt {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  align-self: auto;
  align-content: center;
  gap: 1rem;
  position: absolute;
  top: 50vh;
  left: 50vw;
  margin-top: -7rem;
  margin-left: -19rem;
  background-color: rgba(11, 28, 37, 0.8);
  height: 15rem;
  width: 40rem;
  border: solid 2pt #beae6f;
}

.establishments-detail {
  max-width: 1280px;
}
.establishments-detail h1 {
  text-align: center;
}

.icons-outline {
  font-size: 1.5em;
  color: transparent;
  -webkit-text-stroke: 2px #beae6f;
}
.icons-outline:hover, .icons-outline:focus {
  color: #beae6f;
  -webkit-text-stroke: 2px transparent;
}

.icons-solid {
  font-size: 1.5em;
  color: #beae6f;
}

.stars {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: stretch;
  align-self: auto;
  align-content: flex-start;
  gap: 1rem;
  margin: 0.5rem 0;
}
.stars i {
  font-size: 1.5em;
  color: transparent;
  -webkit-text-stroke: 2px #beae6f;
}

.stars-one i:nth-of-type(1) {
  color: #beae6f;
}

.stars-two i:nth-of-type(1),
.stars-two i:nth-of-type(2) {
  color: #beae6f;
}

.stars-three i:nth-of-type(1),
.stars-three i:nth-of-type(2),
.stars-three i:nth-of-type(3) {
  color: #beae6f;
}

.stars-four i:nth-of-type(1),
.stars-four i:nth-of-type(2),
.stars-four i:nth-of-type(3),
.stars-four i:nth-of-type(4) {
  color: #beae6f;
}

.stars-five i {
  color: #beae6f;
}

.login-page {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  align-self: auto;
  align-content: flex-start;
  gap: 0;
  min-height: 100vh;
}

.form-side {
  position: absolute;
  background-color: #0b1c25;
  box-shadow: 9px 2px 16px rgba(5, 21, 34, 0.4), -4px -2px 16px rgba(18, 58, 92, 0.4);
  height: 60vmin;
  width: 80vmax;
}

.form-wrapper {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  align-self: auto;
  align-content: flex-start;
  gap: 0;
  position: absolute;
  margin-right: -35vw;
  background-color: #ffffff;
  height: 80vmin;
  width: 40vmax;
  color: #242424;
  padding: 10vmin;
}

.establishment-page {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  align-self: auto;
  align-content: flex-start;
  gap: 1rem;
}

.establishment-banner {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: stretch;
  align-self: auto;
  align-content: flex-start;
  gap: 0;
  width: 100%;
  max-width: 1280px;
  border-bottom: solid 1px #707070;
  margin: -10rem 0 5rem 0;
}
.establishment-banner i {
  font-size: 1.25em;
  color: #beae6f;
  height: 20pt;
}
.establishment-banner .icon-wrapper,
.establishment-banner .price {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  align-self: center;
  align-content: center;
  gap: 1rem;
  flex: 1;
  width: 100%;
}
.establishment-banner .icon-wrapper {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center center;
  align-items: center;
  align-self: center;
  align-content: 0;
  gap: 1rem;
  border-right: solid 1px #707070;
  margin: 2.5rem 0;
}

.establishments-detail {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: stretch;
  align-self: auto;
  align-content: flex-start;
  gap: 0;
  margin: 10vh 0;
}
.establishments-detail .background {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  align-self: flex-start;
  align-content: flex-start;
  gap: 0;
  flex: 1;
  font-size: 30rem;
  font-weight: 600;
  opacity: 0.1;
  margin-top: -5rem;
}
.establishments-detail .detail {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  align-self: flex-start;
  align-content: flex-start;
  gap: 2rem;
  flex: 1.4;
}
.establishments-detail h1 {
  font-size: clamp(1.8em, 5vw, 5rem);
}

/*# sourceMappingURL=styles.css.map */
